name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: bazelbuild/setup-bazelisk@v3.0.0
      - name: Mount bazel cache
        uses: actions/cache@v5.0.1
        with:
          path: "~/.cache/bazel"
          key: bazel

      - name: Run java checkstyle
        uses: nikitasavinov/checkstyle-action@188701a3b260206eeb3048e2b6e2af2c47d0876f

      - run: bazel build ...
      - run: bazel test ...
